<div class="card max-w-5xl">
  <p-chart type="line" [data]="data()" [options]="options()" class="h-[30rem]" />

  <div class="card flex justify-center">
    <p-selectbutton
      [options]="stateOptions"
      [(ngModel)]="buttonChart"
      optionLabel="label"
      optionValue="value"
      aria-labelledby="basic"
      class="text-gray-200"
      (onChange)="onChangeChart()"
    />
    <div class="ml-2">
      <p-datepicker
        [(ngModel)]="rangeDates"
        selectionMode="range"
        [iconDisplay]="'input'"
        [showIcon]="true"
        inputId="icondisplay"
      >
      </p-datepicker>
    </div>
  </div>
</div>
