<div class="card">
  @if (constituents().length > 1) {
    <p-table [value]="constituents()" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template #header>
        <tr>
          <th pSortableColumn="name" style="width: 20%">
            <div class="flex items-center gap-2">
              Nombre
              <p-sortIcon field="name" />
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template #body let-constituent>
        <tr>
          <td>{{ constituent.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    @if (error()) {
      <p-message severity="error" text="Error al cargar los datos."></p-message>
    } @else {
      <p-progressSpinner></p-progressSpinner>
    }
  }
</div>
